<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/api/user/signin">Sign In</a>
            <a href="/api/user/register">Register</a>
            <a href="/api/cart">Cart</a>
        </nav>
       <div>
            <a href="">Mobiles</a>
        <a href="">Tablets</a>
        <a href="">Televisions</a>
       </div>
    </body>
</html>